---
import Image from "astro/components/Image.astro";
import BannerImage from "/public/banners/sample-banner.png";
import Tooltip from "../Tooltip.astro";
---

<!-- Contenedor Padre de Banner -->
<div class="relative h-[500px] overflow-hidden" id="bannerBox">
  <!-- Imagen -->
  <a href="/">
    <Image
      src={BannerImage}
      alt="Banner Principal del Foro"
      loading="eager"
    /></a
  >
  <!-- Accesos Rapidos -->
  <div
    class="bg-accent w-1/2 h-11 absolute bottom-0 left-1/4 flex flex-row rounded-lg rounded-b-none text-2xl"
  >
    <ul class="flex h-full w-full flex-row justify-evenly items-center">
      <li>
        <Tooltip text="Cerrar Sesión">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </Tooltip>
      </li>
      <li>
        <Tooltip text="Petición Administrativa">
          <i class="fa-solid fa-ticket"></i>
        </Tooltip>
      </li>
      <li>
        <Tooltip text="Top Rolers">
          <i class="fa-solid fa-ranking-star"></i>
        </Tooltip>
      </li>
      <li>
        <Tooltip text="Ficha de Personaje">
          <i class="fa-solid fa-address-card"></i>
        </Tooltip>
      </li>
      <li>
        <Tooltip text="Recompensa Diaria">
          <i class="fa-solid fa-award"></i>
        </Tooltip>
      </li>
    </ul>
  </div>
</div>

<style>
  #bannerBox {
    border: 5px solid;
    border-left: none;
    border-right: none;
    border-color: #eb5e28;
  }
</style>
