---
const { userName } = Astro.props;
---

<header>
  <div class="bg-primary flex flex-row justify-between text-2xl uppercase p-3">
    <h2>
      <strong
        >Welcome to the Game<span class="text-accent">, {userName}.</span
        ></strong>
    </h2>
    <h1><strong>Naruto Clash</strong></h1>
  </div>
</header>
