---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import HeaderBar from "../components/Index/HeaderBar.astro";
import NavigationBar from "../components/Index/NavigationBar.astro";
import BannerDisplayer from "../components/Index/BannerDisplayer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions transition:animate={"slide"}/>
    <title>{title}</title>
  </head>

  <body class="text-text">
    <!-- Barra de Bienvenida -->
    <HeaderBar userName="Tebs" />
    <main class="w-4/5 m-auto">
      <!-- Barra de Navegación -->
      <NavigationBar />
      <!-- Banner del Foro -->
      <BannerDisplayer />
      <slot />
    </main>
  </body><style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

    * {
      padding: 0;
      margin: 0;
    }

    html {
      font-family: "Saira Condensed", sans-serif;
      background-image: url(/backgrounds/main-background.png);
      box-sizing: border-box;
      height: 100vh;
    }
  </style><script
    src="https://kit.fontawesome.com/65e6b00124.js"
    crossorigin="anonymous"></script>
</html>
